.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 3rem;
  margin-top: 50px;
  min-height: 100vh;
}

.header {
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #b3b3b3;
  color: #fff;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 900px;
  gap: 20px;
}


.card {
  width: 100%;
  max-width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}
